{% extends "base.html"%}
{% block body %}
 <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <div id="myCarousel" class="carousel slide" style="height:300px">
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="http://www.10gen.com/uploads/spotlight/HdqtoOSm/Govuk-spotlight3.png" alt="">
                        <div class="carousel-caption">
                          <h4>First Thumbnail label</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                      </div>
                      <div class="item">
                        <img src="http://www.10gen.com/uploads/spotlight/ApGKlPj0/sydney_spotlight.jpg" alt="">
                        <div class="carousel-caption">
                          <h4>Second Thumbnail label</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                      </div>
                      <div class="item">
                        <img src="http://www.10gen.com/uploads/spotlight/eZJOPzlR/building_mongodb_application.png" alt="">
                        <div class="carousel-caption">
                          <h4>Third Thumbnail Label</h4>
                          <p>lol sdjbksjdgbksjdgb skdjgs dg dfskjdfh dfhlkn adotiewe sdgljnsdg sdkng sdlkgn </p>
                        </div>
                      </div>

                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                  </div>
            </div>
        </div>
            <div class="row">
                <div class="span4">
                    <div class="box1" style="padding:40px">
                        .box1
                    </div>
                </div>
                <div class="span4">
                    <div class="box2" style="padding:40px">
                        .box2
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <a class="btn btn-primary">Button</a>
                </div>
                <div class="span2">
                    <a class="btn btn-primary btn-large">Large Button</a>
                </div>
                <div class="span2">
                 <div class="dropdown" id="menu1">
                    <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#menu1">
                      Dropdown Button
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="text1">.text1: The quick brown fox jumps over the lazy dog.</div>
                    <div class="text2">.text2: The quick brown fox jumps over the lazy dog.</div>
                    <div class="text3">.text3: The quick brown fox jumps over the lazy dog.</div>
                </div>
            </div>


{% endblock%}
