{% extends "base.html"%}
{% block body %}

<section id="logo-variations">
    <h1>Logo Variations</h1>
    <div class="text2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare est vitae lorem mattis convallis. Phasellus nec metus vitae orci aliquam tincidunt tristique et nisl. Aliquam consequat lectus a tortor lobortis suscipit. Nullam quam mi, cursus sed imperdiet ut, pellentesque vitae est. Donec sit amet scelerisque tellus. Donec quis arcu non lacus mattis dictum ac nec justo. Donec fermentum elementum tristique.
    </div>
</section>








<section id="correct-usage">
    <h1>Correct Usage</h1>
    <div class="text2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare est vitae lorem mattis convallis. Phasellus nec metus vitae orci aliquam tincidunt tristique et nisl. Aliquam consequat lectus a tortor lobortis suscipit. Nullam quam mi, cursus sed imperdiet ut, pellentesque vitae est. Donec sit amet scelerisque tellus. Donec quis arcu non lacus mattis dictum ac nec justo. Donec fermentum elementum tristique.
    </div>
</section>

<section id="spelling">
<h1 id="spelling">Spelling</h1>
<div class="text2">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare est vitae lorem mattis convallis. Phasellus nec metus vitae orci aliquam tincidunt tristique et nisl. Aliquam consequat lectus a tortor lobortis suscipit. Nullam quam mi, cursus sed imperdiet ut, pellentesque vitae est. Donec sit amet scelerisque tellus. Donec quis arcu non lacus mattis dictum ac nec justo. Donec fermentum elementum tristique.
</div>
</section>




{% endblock %}
