{% extends "base.html"%}
{% block body %}
 
    <div class="page-header">
        <h1>Widgets</h1>
    </div>

    <h2>Quote Box</h2>
    <h2>Footer</h2>
    <h2>Navigation</h2>
    <h3>Navbar (Global)</h3>
    <h3>Menu</h3>
    <h3>Contextual Navigation</h3>
    <h3>Navigation</h3>
    <h3>Breadcrumbs</h3>

    <h2>Carousel</h2>
    <h2>Image Gallery</h2>
    <h2>Localization</h2>
    <h2>Overlay Panels</h2>
    <h2>Identity</h2>
    <h2>Infographics</h2>
    <h2>Local Search</h2>
    <h2>Accordions</h2>
    <h2>Alerts</h2>
    <h2>Modals</h2>
    <h2>Drag and Drop</h2>
    <h2>Sortable Timeline</h2>
    <h2>Mapping</h2>
    <h2>Legacy Content</h2>
    <h2>Vote</h2>
            

{% endblock %}
